<li class="profile-image dropleft">
  <a class="dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true" >
    <% if current_user.avatar.attached? %>
      <%= image_tag current_user.avatar.variant(resize_to_limit: [96, 96]), id:"user-avatar" %>
    <% else %>
      <img src="http://i.pravatar.cc/50" alt="profile image">
    <% end %>
  </a>
  <div class="dropdown-menu" aria-labelledby="profileDropdown">
    <%= link_to root_path, class: "dropdown-item" do %>
      <i class="fas fa-user"></i><%= current_user.full_name %>
    <% end %>
    <%= link_to logout_path, class: "dropdown-item", method: :delete do %>
      <i class="fas fa-wrench"></i>Logout
    <% end %>
  </div>
</li>
