<section class="header-community">
  <div class="jumbotron">
   <h3 class="">Welcome to the Rails Developer Video Chat</h3>
   <p class="">Forum is now Community. We hope you'll find it's less cluttered and much easier to use. This is the first step of a plan to provide you better tools for talking with your fellow developers, getting your questions answered, and making it easier to make connections with like-minded folks going through the same journey you are.</p>
   <p>So stay tuned for some big, exciting changes. As always, thanks for being a developer!</p>
   <%= link_to 'Learn more', login_path, class: 'btn btn-learn-more' %>
  </div>
</section>
