<!-- Small modal -->

<div class="modal fade" id="receiver-notif-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">Incoming video call</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h6 id="session_id"></h6>
        <h6 id="sender_id"></h6>

      </div>
      <div class="modal-body">
        <img src="http://i.pravatar.cc/40" alt="profile image">
        <span><strong id="sender_name"></strong> is calling</span>
      </div>
      <div class="modal-footer">
        <%= link_to '', id:'answer-call' do %>
          <i class="fas fa-video"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
