<div class="modal fade" id="sender-notif-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">Outgoing video call</h6>
        <i class="fas fa-video"></i>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="http://i.pravatar.cc/40" alt="profile image">
        <span>Calling <strong id="recipient_name_modal"></strong></span>
      </div>
      <div class="modal-footer">
        Conversation will start when the user answers
      </div>
    </div>
  </div>
</div>
